extends ../layout

block content

    form(action="/contact", method="post")
        label(for="")
            input(type="text", name = "saisie")
            button(type="submit") Envoyer 
    a(href="index") Retour au menu