extends ../layout

block content

h1 Accueil 
ul
    li
        a(href="index") Accueil
    li
        a(href="services") Services
    li
        a(href="contact") Contact
    li
        a(href="utilisateurs") Liste des utilisateurs

<!--

const layout = require('../layout')

module.exports = ` ${layout}
<body>
    <h1>Accueil</h1>
    <ul>
        <li><a href="index">Accueil</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="utilisateurs">Liste des utilisateurs</a></li>
    </ul>
</body>
</html>` -->